/* 全体コンテナ */
.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2b6db2; /* ヘッダーと同じ背景色 */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  color: #fff; /* 白いテキスト */
  text-align: center;
  font-family: 'Press Start 2P', cursive; /* ヘッダーと同じフォント */
  position: relative;
}

/* ヘッダーのスタイルと一致 */
.sutamen {
  font-size: 2.5rem;
  color: #ffffff;
  text-shadow: 2px 2px 0px #000000, 4px 4px 0px #ffcc00;
  letter-spacing: 3px;
  margin-bottom: 30px;
}

/* タブ */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.tabs button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #ffcc00; /* 黄色を採用 */
  border: 2px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  color: #ffffff;
  box-shadow: 2px 2px 0px #000000;
  font-family: 'Press Start 2P', cursive;
  transition: transform 0.2s, background-color 0.3s ease-in-out;
}

.tabs button:hover {
  background-color: #ffffff;
  color: #ffcc00;
  transform: translateY(-3px);
}

.tabs .active {
  background-color: #ff3300;
  color: #ffffff;
  font-weight: bold;
  transform: translateY(-3px);
}

/* プレイヤーリスト */
.playerList {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}

/* プレイヤーカード */
.playerCard {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 0px #000000;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

.playerCard:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 0px #000000;
}

.playerCard h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ff3300;
  text-shadow: 1px 1px 0px #000000;
}

.playerCard p {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #333;
}

.playerCard p:nth-child(2) {
  color: #ffcc00; /* ポジションの強調 */
}

.playerCard p:nth-child(3) {
  color: #999;
}
